/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  
  min-width: 200px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}


.inside {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.logo > span {
  color: #a60000aa;
}

.hero-left > h3 {
  color: #f9faf8;
  font-size: 48px;
}

.hero-left > p {
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding: 0 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  color: #e5e7eb;
  height: 35px;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.cta {
  background-color: #3882f6;
  display: flex;
  margin: 40px auto;
  padding: 46px;
  border-radius: 15px;
  justify-content: space-between;
  color: #e5e7eb;
}

.info {
  color: #1f2937;
  font-weight: 900;
  padding: 36px auto 50px auto;
  display: block;
  text-align: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 20px;
}

.info-img {
  width: 180px;
  height: 180px;
  background-color: lightgray;
  border: solid #3882f6 5px;
  border-radius: 25%;
  margin: 0 auto;
}

.card {
  display: block;
  justify-content: center;
  align-content: center;
}

.info > h3 {
  font-size: 36px;
  padding-top: 36px;
}

.info > p {
  font-size: 12px;
  margin: 5px auto;
  text-align: center;
  padding: 0 20px;
}

.hero-left {
  padding: 50px;
  max-width: 450px;
}

.hero-img {
  background-color: lightgray;
  width: 300px;
  height: 140px;
  margin: auto;
}

.wrappercit {
  background-color: #e5e7eb;
}

.citation {
  margin: 0 auto;
}

.citation > blockquote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  padding: 48px;
}

.name {
  text-align: right;
  padding-bottom: 24px;
  font-weight: 800;
}

ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 15px;
  width: 170px;
  border: #e5e7eb solid 1px;
  justify-content: flex-end;
  margin-top: 14px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
